
.bg-custom-color {
    background-color: rgb(197, 243, 144);
}

.img-uniform {
    width: 200px;
    height: 150px;
    object-fit: contain;
    background-color: white;
    display: block;
}

@media (max-width: 768px) {
    .img-uniform {
        width: 300px;
        height: 200px;
    }
}

/* texto justificado*/
.texto_descipcion {
    text-align: justify;
}

.boton_arriba {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 0;
}

/*zoom imagen 10%*/
.img-detalles {
    transition: transform 0.3s ease;
}

.img-detalles:hover {
    transform: scale(1.2);
    cursor: zoom-in;
}